.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 152px;
	z-index: 9999;
	background-color: #fff;
	display: block;
	
}

.header__control {
	position: relative;
	background-color: #7FB3C5E6;
	}

.header__in1, .header__in2 {
	height: 59px;
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 10px;
	font-size: 16px;
	line-height: 1.7;
	text-align: left;
	position: relative;
	
}

.header__logo a{
	overflow: hidden;
	display: block;
	position: absolute;
	top: 12px;
	left: 13px;
	right: 13px;
	bottom: 0;
	text-indent: -9999px;
	}

	img {
	vertical-align: top;
	}

	.header__logo__fixed, .header__logo__sp {
		display: none;
	}

.header__tools {
	display: flex;
	gap: 5rem;
	flex-flow: nowrap;
	height: 59px;
	float: right;
	width: 872px;
	padding: 20px 5px;
	cursor: pointer;
}

.button {
	padding: 20px 5px;
}

.language {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	gap: 1rem;
}

.search {
	display: flex;
	flex-wrap: nowrap;
	gap: 1rem;
}

.header__in2 {
	height: 93px;
}

.header__nav {
	height: 93px;
	overflow: hidden;
	float: left;
	background: url(https://www.tokyo-skytree.jp/en/common/img/gnavi-event-plus.jpg) 0 0 no-repeat;
		}