.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 152px;
	z-index: 9999;
	background-color: #fff;
	display: block;
	
}

.header__control {
	position: relative;
	background-color: #7FB3C5E6;
	}

.header__in1 {
	height: 59px;
	width: 1200px;
	margin: 0px 304.5px;
	padding: 0px 10px;
	font-size: 16px;
	line-height: 1.7;
	text-align: left;
	position: relative;
	
}

.header__logo a{
	overflow: hidden;
	display: block;
	position: absolute;
	top: 12px;
	left: 13px;
	right: 13px;
	bottom: 0;
	text-indent: -9999px;
	}

	img {
		height: auto;
		vertical-align: top;
	}

	.header__logo__fixed, .header__logo__sp {
		display: none;
	}

.header__tools {
	float: right;
	width: 872px;
	padding-right: 102px;
}

.language {
	padding: 20px 5px;
	color: #fff;
	width: 149px;
	height: 59;
}

.search {
	display: inline-block;
	padding-left: 30px;
	color: #fff;
	}

.header__nav {
	height: 93px;
	background-color: #fff;
	}

.header__in2 {
	height: 93px;
	width: 1200px;
	margin: 0px 304.5px;
	padding: 0px 10px;
	font-size: 16px;
	line-height: 1.7;
	text-align: left;
	position: relative;
}

